.task-list {
}

.task-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 5px;
}

.task-form-input {
    flex-grow: 1;
}

.task-item {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
    padding: 15px;
    margin: 5px 0;
    border: #f0f0cf solid;
}

.task-item-completed {
    text-decoration: line-through;
    background-color: #daffda;
}

.task-item > label {
    display: flex;
    align-items: center;
}

.task-item-remove {
    background-color: transparent;
    background-image: url("icons/remove.png");
    background-size: 25px;
    width: 25px;
    height: 25px;
    border: none;
}