.task-list {
}

.task-form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 5px;
}

.task-days {
    margin: 5px 0;
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.task-days > * {
    flex: 1 1 0;
}

.task-day-current {
    background-color: #cfcfcf !important;
}

.task-form-input {
    flex-grow: 1;
}

.task-item {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    justify-content: space-between;
    padding: 15px;
    margin: 5px 0;
    border: #efefef 1px solid
}

.task-item-appear {
    animation-duration: 0.25s;
    animation-name: item-appearing-anim;
}

.task-item-completed {
    text-decoration: line-through;
    background-color: #daffda;
}

.task-item > label {
    display: flex;
    align-items: center;
}

.task-item-remove {
    background-color: transparent;
    background-image: url("icons/remove.png");
    background-size: 25px;
    width: 25px;
    height: 25px;
    border: none;
}

.task-item-removing-anim {
    animation-duration: 0.25s;
    animation-name: item-removing-anim;
}

@keyframes item-removing-anim {
    to {
        scale: 1 0;
    }
}

@keyframes item-appearing-anim {
    from {
        scale: 1 0;
    }
    to {
        scale: 1 1;
    }
}
