body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */

.header {
    background: white;
    border-bottom: 1px #808080 solid;
    box-shadow: 0 1px #80808080, 0 2px #80808040;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    font-size: 20px;
    top: 0;
    height: 50px;
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo-img {
    width: 35px;
    height: 35px;
}

.header-logo-text {
    font-size: 1.25em;
    margin: 3px 10px 0;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
}

.header-navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header-navbar-item {
    height: 100%;
    padding: 0 10px;
    align-content: center;
}

.header-navbar-item:hover {
    background: #fafaef;
}

.header-navbar-item-active {
    background: #efefef;
}

.header-navbar-text {
    font-size: 1em;
    font-weight: bold;
    color: #3f0000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

/* Main */

.main {
    margin: 60px 60px 10px;
    display: flex;
    column-gap: 20px;
    font-size: 16px;
}

/* Tables */
.table {
    display: grid;
    background: #000000;
    grid-template-columns: auto 15% 15% 15% 15% 15%;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-flow: column;
    align-content: center;
    grid-gap: 1px;
    padding: 1px;
}

/* Funny things to make grids work in <table> and its children elements */
.table > thead {
    display: contents;
}

.table > thead > tr {
    display: contents;
}

.table > tbody {
    display: contents;
}

.table > tbody > tr {
    display: contents;
}

.table-element {
    padding: 1px;
    text-wrap: pretty;
    text-align: center;
    line-height: 28px;
    background: #cfcfcf;
}

.table-element:nth-child(odd) {
    background: #efefef;
}

.table-element-header {
    background: #f0f0cf !important;
    grid-column: 1 / span 6;
}

/* Advertisements */

.advertisements {
    border: 2px solid #7d7d9d;
    background: #ffffff;
    box-shadow: 1px 1px #7d7d9da0, 2px 2px #7d7d9d70;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

.advertisements-title {
    font-size: 1.75em;
    text-wrap: nowrap;
}

.advertisements-item {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.advertisements-item-title {
    font-size: 1.5em;
    text-wrap: nowrap;
    color: #0f0f5f;
    text-decoration: none;
}

/* Feed */

.feed {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.article {
    border: 2px solid #f5deb3;
    background: #ffffff;
    box-shadow: 1px 1px #f5deb3a0, 2px 2px #f5deb370;
    padding: 5px 10px;
}

.article-title {
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #0f0f5f;
    margin: 5px 3px 8px;
}

.article-subtitle {
    font-family: "Roboto Light", sans-serif;
    font-weight: normal;
    margin: 0 3px 3px;
}

.article-subtitle-tag {
    color: #3f0000;
    text-decoration: none;
}

.article-content {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 20px;
    margin: 0 3px;
}

.article-content-code {
    font-size: 0.8em;
    font-family: "Courier New", monospace;
    border: dotted #808080ff;
    background: #f8ffff;
    margin: 0;
    padding: 0 5px;
}

.article-content-italic {
    font-style: italic;
}

.article-content-term {
    font-family: "Courier New", monospace;
    font-weight: 600;
}

.article-content-logotype {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.article-content-button {
    background: none;
    border: 1px double #000000;
    padding: 10px;
}

.article-content-button:hover {
    background-color: #e3e3e3;
}

.article-content-input {
    background: none;
    border: 1px double #000000;
    padding: 10px;
}

/* Footer */

.footer {
    margin-top: auto;
    background: #b0b0b0;
    font-family: "Roboto Thin", serif;
    display: flex;
    flex-direction: row;
    padding: 8px 8px;
}

.footer-element {
    padding: 5px 10px;
}

.footer-element-copyright {
    flex-grow: 1;
    text-align: end;
}

.footer-element-link {
    font-family: serif;
    color: #000000;
    text-decoration: underline;
}

.footer-element-text {
    color: #000000;
    font-weight: lighter;
}

@media screen and (max-width: 900px) {
    .header-navbar {
        display: none;
    }

    .main {
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        row-gap: 10px;
    }

    .footer {
        flex-direction: column;
    }

    .footer-element-copyright {
        text-align: start;
    }
}